<%- include("partials/header") -%>
<h1>Compose</h1>
<!-- desi style -->
<!-- <form class="" action="/compose" method="post">
  <label class="block">Title</label>
  <input class="in" type="text" name="blogTitle" value="">
  <label class="block"for="">Post</label>
  <textarea class="in block" name="blogBody" rows="8" cols="80"></textarea>
  <button class = "pub_lbtn btn btn-primary"type="submit" name="button">Publish</button>
</form> -->

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label >Title</label>
    <input class="form-control" type="text" name="blogTitle" value="">
     <label for="">Post</label>
    <textarea class="form-control" name="blogBody" rows="8" cols="80"></textarea>
  </div>
  <button class = "btn btn-primary" type="submit" name="button">Publish</button>
</form>




<%- include("partials/footer") -%>
